<h1>Ecris ton gossip </h1>

<%= form_with(model: @gossip, local: true) do |form| %>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit 'Créer' %>
  </p>
 
<% end %>